/* banner section */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
   
}
.banner{

    position: relative;
    
}
.banner-heading{
    position: absolute;
   margin-left: 845px;
   top: 216px;
   font-weight: 700px;
   font-size: 50px;
   color: white;
   text-align: right;

}
.head-design{
   margin-left: 340px;
}
.banner-description{
    margin-left: 845px;
    top:420px;
    text-align: right;
    font-weight: 400px;
    font-size: 20px;
    position: absolute;
    color: white;
}
.banner-btn{
    margin-left: 1200px;
    top: 510px;
    font-weight: 600;
  font-size: 20px;
    position: absolute;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    border: none;
    background-color: white;
}
/* past History Section */
.past-history{
    display: flex;
    height: 1070px;
    width: 720px;
    justify-content: space-between;
    top: 380px;
    
    
}
.section-header{
    font-weight: 700;
    font-size: 30px;
    width: 288px;
height: 94px;
   
}
.section-description{
    font-weight: 400;
    font-size: 20px;
    color: #151414;
    width: 416px;
height: 104px;
}
.failur-text{
    margin-top: 410px;
    margin-left: 150px;
    
}
.past-history ul li{
    list-style:none;
    line-height: 30px;
   
   

}
.list-style-img{
    height: 24px;
    width: 24px;
}
/* future Section */
.my-plan{

}
/* mindset Section */
.mindset-img{
    position: absolute;
}
.mindset{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    
}
.mindset-heading{
    position: relative;
}
/* footer Section */
