/* banner section */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   
}
.menu{
    margin-left:992px;
    text-align: center;
    top: 10px;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    border-radius: 5px;
    height: 75px;
    width: 436px;
    border: none;
}
.menu-btn{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    height: 55px;
    width: 140px;
    border: none;
    background-color: rgb(127, 195, 235);
}

.banner{

    position: relative;
    
}
.banner-img{
    width: 1600px;
}
.banner-heading{
    position: absolute;
   margin-left: 790px;
   top: 155px;
   font-weight: 700px;
   font-size: 65px;
   color: white;
   text-align: right;
   width: 650px;
   height: 230px;

}
.head-design{
   margin-left: 340px;
}
.banner-description{
    margin-left: 950px;
    top:440px;
    text-align: right;
    font-weight: 400px;
    font-size: 16px;
    position: absolute;
    color: white;
    width: 494px;
height: 78px;
}
.banner-btn{
    margin-left:1300px;
    text-align: center;
    top: 565px;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    border-radius: 5px;
    height: 55px;
    width: 140px;
    border: none;
    background-color: white;
}
/* past History Section */
.past-history{
    display: flex;
    margin-left: 200px;
    
}
.section-header{
    font-weight: 700;
    font-size: 30px;
    width: 288px;
height: 94px;
   
}
.section-description{
    font-weight: 400;
    font-size: 20px;
    color: #151414;
    width: 416px;
height: 104px;
margin-bottom: 50px;
}
.failur-text{
    margin-top: 300px;
    margin-left: 150px;
    
}
.past-history ul li{
    list-style-type: style ;
    line-height: 30px;
   
   

}
.section-img{
    width: 570px;
    height: 720px;
    
    
}

/* future Section */
.my-plan{
    margin-bottom: 30px;
    
}
.plan{
    text-align: center;
    width: 218px;
height: 197px;

}
.section-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #151414;
    margin-top: 130px;
}
.plan-list{
    display: flex;
    justify-content: space-around;
    width: 1141px;
    height: 203px;
    margin-left: 190px
 
}
.plan-title{
font-size: 23px;
font-weight: 700;
}
.plan-description{
    font-weight: 400;
margin-top: 16px;
}
.do-container{
    display:flex;
    margin-left: 200px;
}
.do-header{
    background-color: #df9c2b;
    margin-bottom: 20px;
}
.me-img{
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
    margin-left: 170px;
}
.do-container ul li{
    font-size: 24px;
    margin-top: 5px;
}
/* mindset Section */
.mindset-img{
    position: absolute;
}
.mindset{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    margin-left: 190px;
   
  
   
}
.mindset-heading{
    position: relative;
    width: 459px;
height: 94px;
left: 46px;
top: 70px;
font-size: 40px;
}
.call-btn{
    position: absolute;
    color: #005FAC;
    background-color: white;
    font-weight: 600;
font-size: 20px;
border-radius: 5px;
height: 50px;
    width: 150px;
    border: none;
    left: 230px;
    margin-top: 100px;
}
/* footer section */

.footer{
    margin-bottom: 130px;
    background-color: #151414;
    margin-top: 270px;
    display: flex;
    height:580px;
}
.contact{
    width: 485px;
    margin-left: 100px;
}
.contact-title{
    color: #f8f8f8;
    font-size: 40px;
    font-weight: 700;
    margin-left: 230px;
    margin-top: 130px;
    margin-bottom: 20px;
}
.contact-description{
    color: #fff;
    width: 480px;
    font-size: 10px;
    font-weight: 400;
    margin-left: 230px;
}

.contact p{
    color: #fff;
    margin-left: 230px;
    line-height: 24px;
    font-size: 16px;

}

.footer-icon{
    display: flex;
    margin-left: 190px;
    justify-content: space-evenly;
}
.with-us{
    margin-left: 370px;
    margin-top: 150px;
}
.with-us-header{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.input-mail{
    width: 250px;
    height: 35px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.subscribe-btn{
    color: #fff;
    background-color: #005FAC;
    font-weight: 600;
font-size: 20px;
border-radius: 5px;
height: 50px;
 border: none;  
}
